<a href="./login" class="button is-primary">
            <strong>Log In</strong>
          </a>
          <a href="./register" class="button is-primary">
            <strong>Register</strong>
          </a>