<section class="section">
<body>

    <header>
        <h1>To Don't List</h1>
    </header>

    <main>

        <form action="/routes/api/dash" method="POST" id="new-task-form">
            <input name="info" type="text" id="new-task-input" placeholder="I shouldn't be doing this!" />
            <input type="submit" id="new-task-submit" value="Add task" />
        </form>

        <section class="task-list">
            <h2>I should not:</h2>

            <div id="tasks">

                <div class="task">
                    <div class="content">
                        <input type="text" class="text" value="Take a nap" readonLy />
                    </div>
                    <div class="actions">
                        <button class="edit">Edit</button>
                        <button class="delete"></button>
                    </div>

                </div>
                <div class="task">
                    <div class="content">
                        <input type="text" class="text" value="Watch TV" readonLy />
                    </div>
                    <div class="actions">
                        <button class="edit">Edit</button>
                        <button class="delete"></button>
                    </div>

                </div>
                <div class="task">
                    <div class="content">
                        <input type="text" class="text" value="Cry :( Effin' Heroku" readonLy />
                    </div>
                    <div class="actions">
                        <button class="edit">Edit</button>
                        <button class="delete"></button>
                    </div>

                </div>
                <div class="task">
                    <div class="content">
                        <input 
                            type="text"
                            class="text"
                            value="Play video games"
                            readonLy
                        />
                    </div>
                    <div class="actions">
                        <button class="edit">Edit</button>
                        <button class="delete"></button>
                    </div>

                </div>

            </div>
        </section>
    </main>
    <script src="/js/main.js"></script>
</body>
</section>