<form action="/routes/api/login/" method="POST" class="box">
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input name="email" class="input" type="email" placeholder="e.g. alex@example.com" required>
              </div>
            </div>
          
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input name="password" class="input" type="password" placeholder="********" required>
              </div>
            </div>
            <input type="submit" value="Submit" class="button is-primary is-outlined" />
            <a href="./register" class="button is-primary is-outlined">Sign Up</a>
          </form>