<section class="hero is-success is-halfheight">
  <div class="hero-body">
    <div class="">
      <p class="title">
        TO DON'T LIST
      </p>
      <p class="subtitle">
        For the stuff you dont want to do.
      </p>
    </div>
  </div>
</section>
{{#if haveUser}}
{{> login}}
{{else}}
{{> register}}
{{/if}}